---
title: Contact
permalink: "/contact/"
layout: default
---

{% assign content = site.data.contact %}

{% for section in content.sections %}
<section class="section section-third">


    <h2 class="title title-one">{{ section.title }}</h2>

    {% for article in section.articles %}

    {% include content/contentbox.html data=article %}

    {% endfor %}


</section>
{% endfor %}

<aside class="sidebar">

    <h4 class="title title-highlighted">{{ content.sidebar.title }}</h4>
    <p>{{ content.sidebar.content }}</p>

</aside>
