---
layout: default
title: Contact
permalink: /contact/
---

<section class="section section-third">

    {% assign section = site.data.contact.contact%}

    <h2 class="title title-one section-title">{{ section.section.title }}</h2>

    {% include content/contentbox.html data=section.who-we-are%}

    {% include content/contentbox.html data=section.imprint %}

</section>

<aside class="sidebar">

    <h4 class="title title-highlighted">{{ section.info-service.title }}</h4>
    <p>{{ section.info-service.content }}</p>

</aside>
