language: ruby
rvm:
  - 2.5.1 # use the same version as GitHub pages (https://pages.github.com/versions/)

script:
  # build the static site
  - bundle exec jekyll build
  # validate the output
  - bundle exec htmlproofer ./_site --only-4xx

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

# use the container-based infrastructure for a faster build
sudo: false

# cache bundler gem to speed up the build
cache: bundler

# disable email notifications about the outcome of the builds
notifications:
  email: false
