---
title: Tools
---

<div id="app">

  <div class="row justify-content-center gy-3">
    <div class="col-auto">
      <div class="row">
        <label class="form-label text-center">FMI Version</label>
      </div>
      <div class="btn-group" role="group">
        <button type="button" @click="showFMI1 = !showFMI1" class="btn btn-secondary" v-bind:class="{'active': showFMI1}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="FMI 1.0">1.0</button>
        <button type="button" @click="showFMI2 = !showFMI2" class="btn btn-secondary" v-bind:class="{'active': showFMI2}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="FMI 2.0">2.0</button>
        <button type="button" @click="showFMI3 = !showFMI3" class="btn btn-secondary" v-bind:class="{'active': showFMI3}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="FMI 3.0">3.0</button>
      </div>
    </div>
    <div class="col-auto">
      <div class="row">
        <label class="form-label text-center">Import</label>
      </div>
      <div class="btn-group ml-3" role="group">
        <button type="button" @click="showCSImport = !showCSImport" class="btn btn-secondary" v-bind:class="{'active': showCSImport}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Co-Simulation import">CS</button>
        <button type="button" @click="showMEImport = !showMEImport" class="btn btn-secondary" v-bind:class="{'active': showMEImport}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Model Exchange import">ME</button>
        <button type="button" @click="showSEImport = !showSEImport" class="btn btn-secondary" v-bind:class="{'active': showSEImport}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Scheduled Execution import">SE</button>
      </div>
    </div>
    <div class="col-auto">
      <div class="row">
        <label class="form-label text-center">Export</label>
      </div>
      <div class="btn-group ml-3" role="group">
        <button id="btn-commercial" type="button" @click="showCSExport = !showCSExport" class="btn btn-secondary" v-bind:class="{'active': showCSExport}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Co-Simulation export">CS</button>
        <button id="btn-opensource" type="button" @click="showMEExport = !showMEExport" class="btn btn-secondary" v-bind:class="{'active': showMEExport}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Model Exchange export">ME</button>
        <button id="btn-opensource" type="button" @click="showSEExport = !showSEExport" class="btn btn-secondary" v-bind:class="{'active': showSEExport}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Scheduled Execution export">SE</button>
      </div>
    </div>
    <div class="col-auto">
      <div class="row">
        <label class="form-label text-center">Platform</label>
      </div>
      <div class="btn-group" role="group">
        <button id="btn-windows" type="button" @click="showWindows = !showWindows" class="btn btn-secondary" v-bind:class="{'active': showWindows}"  data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Windows"><i class="fab fa-windows"></i></button>
        <button id="btn-linux" type="button" @click="showLinux = !showLinux" class="btn btn-secondary" v-bind:class="{'active': showLinux}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Linux"><i class="fab fa-linux"></i></button>
        <button id="btn-macos" type="button" @click="showMac = !showMac" class="btn btn-secondary" v-bind:class="{'active': showMac}"  data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="macOS"><i class="fab fa-apple"></i></button>
        <button id="btn-source-code" type="button" @click="showSourceCode = !showSourceCode" class="btn btn-secondary" v-bind:class="{'active': showSourceCode}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Source Code"><i class="fa-solid fa-c"></i></button>
      </div>
    </div>
    <div class="col-auto">
      <div class="row">
        <label class="form-label text-center">License</label>
      </div>
      <div class="btn-group ml-3" role="group">
        <button id="btn-commercial" type="button" @click="toggleShowCommercial()" class="btn btn-secondary" v-bind:class="{ 'active': showCommercial}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Commercial"><i class="fas fa-dollar-sign"></i></button>
        <button id="btn-opensource" type="button" @click="toggleShowOpenSource()" class="btn btn-secondary" v-bind:class="{ 'active': showOpenSource}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Open Source"><i class="fab fa-osi"></i></button>
      </div>
    </div>
    <div class="col-auto">
      <div class="row">
        <label class="form-label text-center">Interface</label>
      </div>
      <div class="btn-group ml-3" role="group">
        <button id="btn-commercial" type="button" @click="showGUI = !showGUI" class="btn btn-secondary" v-bind:class="{'active': showGUI}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Graphical User Interface"><i class="fa-solid fa-window-maximize"></i></button>
        <button id="btn-opensource" type="button" @click="showCLI = !showCLI" class="btn btn-secondary" v-bind:class="{'active': showCLI}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Command Line Interface / scriptable"><i class="fa-solid fa-terminal"></i></button>
        <button id="btn-opensource" type="button" @click="showLibrary = !showLibrary" class="btn btn-secondary" v-bind:class="{'active': showLibrary}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Library / Plug-in"><i class="fa-solid fa-file-code"></i></button>
      </div>
    </div>
    <div class="col-auto">
      <div class="row">
        <label class="form-label text-center">Layered Standards</label>
      </div>
      <div class="btn-group ml-3" role="group">
        <button id="btn-bus" type="button" @click="showBUS = !showBUS" class="btn btn-secondary" v-bind:class="{'active': showBUS}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="FMI-LS-BUS">BUS</button>
        <button id="btn-ref" type="button" @click="showREF = !showREF" class="btn btn-secondary" v-bind:class="{'active': showREF}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="FMI-LS-REF">REF</button>
        <button id="btn-struct" type="button" @click="showStruct = !showStruct" class="btn btn-secondary" v-bind:class="{'active': showStruct}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="FMI-LS-Struct">Struct</button>
        <button id="btn-xcp" type="button" @click="showXCP = !showXCP" class="btn btn-secondary" v-bind:class="{'active': showXCP}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="FMI-LS-XCP">XCP</button>
      </div>
    </div>
    <div class="col-auto">
      <div class="row">
        <label class="form-label text-center">Search</label>
      </div>
      <input v-model="search" type="text" class="form-control" placeholder="Type to search">
    </div>
  </div>

  <div class="row justify-content-center my-3">
    <div class="col-lg-8 text-muted text-center my-1">{{ filteredTools.length }} tools matching filter criteria</div>
    <div class="col-lg-3 text-center my-1">
      <small><a href="https://github.com/modelica/fmi-standard.org/blob/master/CONTRIBUTING.md#updating-the-tools-list"><i class="fa-solid fa-plus"></i> How do I add or update my tool?</a></small>
    </div>
  </div>

  <div class="container mt-4">
    <div v-for="tool in filteredTools" class="row justify-content-center mt-4">
      <div class="col-sm-4 col-lg-3 text-end">
        <img v-if="tool.hasOwnProperty('logo')" :src="imageURL(tool.logo)" class="bg-white rounded-1" style="margin-top: 7px; max-height: 76px; max-width: 170px; padding: 5px;"/>
      </div>
      <div class="col-sm-8 col-lg-6">
        <div><a :href="tool.url" style="font-size: 20px; font-weight: 500;">{{ tool.name }}</a></div>
        <div>
          <small>by <a :href="tool.vendorURL">{{ tool.vendor }}</a><span v-if="tool.hasOwnProperty('version')"> | Ver {{ tool.version }}</span></small>            
        </div>
        <div>
          <small>
            <span v-if="hasFeature(tool.fmiVersions, '1.0')" class="badge bg-secondary me-1">1.0</span>
            <span v-if="hasFeature(tool.fmiVersions, '2.0')" class="badge bg-secondary me-1">2.0</span>
            <span v-if="hasFeature(tool.fmiVersions, '3.0')" class="badge bg-secondary me-1">3.0</span>
            <span v-if="hasFeature(tool.fmuImport, 'CS')" class="badge bg-secondary me-1"><i class="fas fa-sign-in-alt"></i> CS</span>
            <span v-if="hasFeature(tool.fmuImport, 'ME')" class="badge bg-secondary me-1"><i class="fas fa-sign-in-alt"></i> ME</span>
            <span v-if="hasFeature(tool.fmuImport, 'SE')" class="badge bg-secondary me-1"><i class="fas fa-sign-in-alt"></i> SE</span>
            <span v-if="hasFeature(tool.fmuExport, 'CS')" class="badge bg-secondary me-1"><i class="fas fa-sign-out-alt"></i> CS</span>
            <span v-if="hasFeature(tool.fmuExport, 'ME')" class="badge bg-secondary me-1"><i class="fas fa-sign-out-alt"></i> ME</span>
            <span v-if="hasFeature(tool.fmuExport, 'SE')" class="badge bg-secondary me-1"><i class="fas fa-sign-out-alt"></i> SE</span>
            <span v-if="hasFeature(tool.platforms, 'Linux')" class="badge bg-secondary me-1"><i class="fab fa-linux"></i></span>
            <span v-if="hasFeature(tool.platforms, 'Windows')" class="badge bg-secondary me-1"><i class="fab fa-windows"></i></span>
            <span v-if="hasFeature(tool.platforms, 'macOS')" class="badge bg-secondary me-1"><i class="fab fa-apple"></i></span>
            <span v-if="hasFeature(tool.platforms, 'Source Code')" class="badge bg-secondary me-1"><i class="fa-solid fa-c"></i></span>
            <span v-if="tool.license == 'commercial'" class="badge bg-secondary me-1"><i class="fas fa-dollar-sign"></i></span>
            <span v-if="tool.license == 'osi'" class="badge bg-secondary me-1"><i class="fab fa-osi"></i></span>
            <span v-if="hasFeature(tool.interfaces, 'GUI')" class="badge bg-secondary me-1"><i class="fa-solid fa-window-maximize"></i></span>
            <span v-if="hasFeature(tool.interfaces, 'CLI')" class="badge bg-secondary me-1"><i class="fa-solid fa-terminal"></i></span>
            <span v-if="hasFeature(tool.interfaces, 'library')" class="badge bg-secondary me-1"><i class="fa-solid fa-file-code"></i></span>
          </small>
        </div>
        <div class="mt-1"><small><a v-if="tool.hasOwnProperty('examplesURL')" :href="tool.examplesURL"><i style="color: #ffe62c" class="fa-solid fa-star me-1"></i>Examples & Compatibility</a></small></div>
        <p class="mt-1">{{ tool.description }}</p>
      </div>
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>

  const { createApp } = Vue

  function containsLowerCase(a, b) {
    if (a == undefined) return false;
    return a.toLowerCase().indexOf(b.toLowerCase()) > -1;
  }

  function listContains(l, a) {
    if (l == undefined) return false;
    return l.includes(a);
  }

  createApp({
    data() {
      return {
        showFMI1: false,
        showFMI2: false,
        showFMI3: false,
        showCSImport: false,
        showMEImport: false,
        showSEImport: false,
        showCSExport: false,
        showMEExport: false,
        showSEExport: false,
        showWindows: false,
        showLinux: false,
        showMac: false,
        showSourceCode: false,
        showCommercial: false,
        showOpenSource: false,
        showGUI: false,
        showCLI: false,
        showLibrary: false,
        showBUS: false,
        showREF: false,
        showStruct: false,
        showXCP: false,
        search: "",
        tools: []
      }
    },
    created() {
      axios.get('/assets/tools.json')
        .then(response => {
          this.tools = response.data.sort(function (a, b) {
            if (a.hasOwnProperty('examplesURL') == b.hasOwnProperty('examplesURL')) {
              return a.name.toLowerCase() < b.name.toLowerCase() ? -1 : 1;               
            } else {
              return a.hasOwnProperty('examplesURL') ? -1 : 1;               
            }
          })
        })
        .catch(error => {
          console.log(error)
        })
    },
    methods: {
      imageURL: function (filename) {
        return "/assets/images/logos/" + filename;
      },
      hasFeature: function (features, feature) {
        try {
          return features.indexOf(feature) >= 0;
        } catch (error) {
          // console.error(error);
        }
      },
      toggleShowCommercial: function () {
        if (!this.showCommercial) this.showOpenSource = false;
        this.showCommercial = !this.showCommercial;
      },
      toggleShowOpenSource: function () {
        if (!this.showOpenSource) this.showCommercial = false;
        this.showOpenSource = !this.showOpenSource;
      }
    },
    computed: {
      filteredTools() {

        self = this;

        return this.tools.filter(tool => {

          if (self.showFMI1 && !listContains(tool.fmiVersions, '1.0')) return false;
          if (self.showFMI2 && !listContains(tool.fmiVersions, '2.0')) return false;
          if (self.showFMI3 && !listContains(tool.fmiVersions, '3.0')) return false;

          if (self.showCSImport && !listContains(tool.fmuImport, 'CS')) return false;
          if (self.showMEImport && !listContains(tool.fmuImport, 'ME')) return false;
          if (self.showSEImport && !listContains(tool.fmuImport, 'SE')) return false;

          if (self.showCSExport && !listContains(tool.fmuExport, 'CS')) return false;
          if (self.showMEExport && !listContains(tool.fmuExport, 'ME')) return false;
          if (self.showSEExport && !listContains(tool.fmuExport, 'SE')) return false;

          if (self.showWindows    && !listContains(tool.platforms,'Windows'))     return false;
          if (self.showLinux      && !listContains(tool.platforms,'Linux'))       return false;
          if (self.showMac        && !listContains(tool.platforms,'macOS'))       return false;
          if (self.showSourceCode && !listContains(tool.platforms,'Source Code')) return false;

          if (self.showCommercial && tool.license != 'commercial') return false;
          if (self.showOpenSource && tool.license != 'osi')        return false;

          if (self.showGUI     && !listContains(tool.interfaces, 'GUI'))     return false;
          if (self.showCLI     && !listContains(tool.interfaces, 'CLI'))     return false;
          if (self.showLibrary && !listContains(tool.interfaces, 'library')) return false;

          if (self.showBUS    && !listContains(tool.layeredStandards, 'BUS'))    return false;
          if (self.showREF    && !listContains(tool.layeredStandards, 'REF'))    return false;
          if (self.showStruct && !listContains(tool.layeredStandards, 'Struct')) return false;
          if (self.showXCP    && !listContains(tool.layeredStandards, 'XCP'))    return false;

          return containsLowerCase(tool.name, this.search) || containsLowerCase(tool.vendor, this.search) || containsLowerCase(tool.description, this.search);
        })
      }
    }
  }).mount('#app')
</script>

<script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
</script>
