<header class="site-header">
    <div class="site-logo"></div>
    <nav class="site-nav">
        <a class="site-nav-link" href="/start">Start</a>
        <a class="site-nav-link" href="/downloads">Downloads</a>
        <a class="site-nav-link" href="/tools">Tools</a>
        <a class="site-nav-link" href="/development">Development</a>
        <a class="site-nav-link" href="/literature">Literature</a>
        <a class="site-nav-link" href="/history">History</a>
        <a class="site-nav-link" href="/contact">Contact</a>
    </nav>
</header>
