<header class="site-header">
    <div class="site-logo">
        <a href="{{ '/' | prepend: site.baseurl }}">
            <img class="site-logo-img" src="{{ '/assets/img/fmi-logo.svg' | prepend: site.baseurl}}">
        </a>
    </div>
    <input class="hamburger-check" id="nav-check" type="checkbox">
    <label class="hamburger" for="nav-check">
        <span class="hamburger-spin hamburger-spin-one"></span>
        <span class="hamburger-spin hamburger-spin-two"></span>
        <span class="hamburger-spin hamburger-spin-three"></span>
    </label>
    <label class="hamburger-background" for="nav-check"></label>
    <nav class="site-nav">
        <a class="site-nav-link{% if page.url == '/' %} active{% endif %}" href="{{ '/' | prepend: site.baseurl }}">Start</a>
        <a class="site-nav-link{% if page.url == '/downloads/' %} active{% endif %}" href="{{ '/downloads' | prepend: site.baseurl }}">Downloads</a>
        <a class="site-nav-link{% if page.url == '/tools/' %} active{% endif %}" href="{{ '/tools' | prepend: site.baseurl }}">Tools</a>
        <a class="site-nav-link{% if page.url == '/related/' %} active{% endif %}" href="{{ '/related' | prepend: site.baseurl }}">Related</a>
        <a class="site-nav-link{% if page.url == '/development/' %} active{% endif %}" href="{{ '/development' | prepend: site.baseurl }}">Development</a>
        <a class="site-nav-link{% if page.url == '/literature/' %} active{% endif %}" href="{{ '/literature' | prepend: site.baseurl }}">Literature</a>
        <a class="site-nav-link{% if page.url == '/history/' %} active{% endif %}" href="{{ '/history' | prepend: site.baseurl }}">History</a>
        <a class="site-nav-link{% if page.url == '/faq/' %} active{% endif %}" href="{{ '/faq' | prepend: site.baseurl }}">FAQ</a>
        <a class="site-nav-link{% if page.url == '/contact/' %} active{% endif %}" href="{{ '/contact' | prepend: site.baseurl }}">Contact</a>
    </nav>
</header>
