<header class="site-header">
    <div class="site-logo">
        <img class="site-logo-img" src="/assets/img/fmi-logo.svg">
    </div>
    <input class="hamburger-check" id="nav-check" type="checkbox">
    <label class="hamburger" for="nav-check">
        <span class="hamburger-spin hamburger-spin-one"></span>
        <span class="hamburger-spin hamburger-spin-two"></span>
        <span class="hamburger-spin hamburger-spin-three"></span>
    </label>
    <label class="hamburger-background" for="nav-check"></label>
    <nav class="site-nav">
        <a class="site-nav-link{% if page.url == '/start/' %} active{% endif %}" href="/">Start</a>
        <a class="site-nav-link{% if page.url == '/downloads/' %} active{% endif %}" href="/downloads">Downloads</a>
        <a class="site-nav-link{% if page.url == '/tools/' %} active{% endif %}" href="/tools">Tools</a>
        <a class="site-nav-link{% if page.url == '/development/' %} active{% endif %}" href="/development">Development</a>
        <a class="site-nav-link{% if page.url == '/literature/' %} active{% endif %}" href="/literature">Literature</a>
        <a class="site-nav-link{% if page.url == '/history/' %} active{% endif %}" href="/history">History</a>
        <a class="site-nav-link{% if page.url == '/contact/' %} active{% endif %}" href="/contact">Contact</a>
    </nav>
</header>
