<div class="alert alert-warning" role="alert">
  <i class="fas fa-exclamation-triangle mr-3"></i>We're currently updating the cross-check infrastructure. Some results might not be up-to-date.
</div>

<div class="btn-toolbar" role="toolbar">
    <div class="dropdown mr-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="fmiVersionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if fmi_version == "fmi1" %}FMI 1.0{% else %}FMI 2.0{% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="fmiVersionButton">
            <a class="dropdown-item" href="{{ "/cross-check/" | relative_url }}fmi1-{{ fmi_type }}-{{ platform }}/">FMI 1.0</a>
            <a class="dropdown-item" href="{{ "/cross-check/" | relative_url }}fmi2-{{ fmi_type }}-{{ platform }}/">FMI 2.0</a>
        </div>
    </div>
    <div class="dropdown mr-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="fmiTypeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if fmi_type == "cs" %}Co-Simulation{% else %}Model Exchange{% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="fmiTypeButton">
            <a class="dropdown-item" href="{{ "/cross-check/" | relative_url }}{{ fmi_version }}-cs-{{ platform }}/">Co-Simulation</a>
            <a class="dropdown-item" href="{{ "/cross-check/" | relative_url }}{{ fmi_version }}-me-{{ platform }}/">Model Exchange</a>
        </div>
    </div>
    <div class="dropdown mr-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="platformButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if platform == "ccode" %}
          <i class="fab fas-code mr-2"></i>C-code
          {% elsif platform == "darwin64" %}
          <i class="fab fa-apple mr-2"></i>macOS
          {% elsif platform == "linux32" %}
          <i class="fab fa-linux mr-2"></i>Linux 32-bit
          {% elsif platform == "linux64" %}
          <i class="fab fa-linux mr-2"></i>Linux 64-bit
          {% elsif platform == "win32" %}
          <i class="fab fa-windows mr-2"></i>Windows 32-bit
          {% elsif platform == "win64" %}
          <i class="fab fa-windows mr-2"></i>Windows 64-bit
          {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="platformButton">
            <a class="dropdown-item" href="{{ "/cross-check/" | relative_url }}{{ fmi_version }}-{{ fmi_type }}-ccode/">C-code</a>
            <a class="dropdown-item" href="{{ "/cross-check/" | relative_url }}{{ fmi_version }}-{{ fmi_type }}-darwin64/">macOS</a>
            <a class="dropdown-item" href="{{ "/cross-check/" | relative_url }}{{ fmi_version }}-{{ fmi_type }}-linux32/">Linux 32-bit</a>
            <a class="dropdown-item" href="{{ "/cross-check/" | relative_url }}{{ fmi_version }}-{{ fmi_type }}-linux64/">Linux 64-bit</a>
            <a class="dropdown-item" href="{{ "/cross-check/" | relative_url }}{{ fmi_version }}-{{ fmi_type }}-win32/">Windows 32-bit</a>
            <a class="dropdown-item" href="{{ "/cross-check/" | relative_url }}{{ fmi_version }}-{{ fmi_type }}-win64/">Windows 64-bit</a>
        </div>
    </div>
</div>

{% if mydata[0].size == 0 %}
<div class="alert alert-dark mt-5" role="alert">No cross-check data has been submitted for this FMI version, FMI type and platform</div>
{% else %}
<table class="table table-sm mt-4 table-responsive w-auto xc-matrix">
    <thead>
      {% for column in mydata[0] %}
        {% if column[0] == nil %}
        <th><i class="fas fa-caret-down"></i> Importing Tool</th>
        {% else %}
        <th class="rotate"><div><span>{{ column[0] }}</span></div></th>
        {% endif %}
      {% endfor %}
    </thead>
    <tbody>
    {% for row in mydata %}
        <tr>
        {% for cell in row %}

            {% if cell[0] == nil %}
            <td>{{ cell[1] }}</td>
            {% else %}

            {% assign n = cell[1] | times: 1 %}
            {% if n < 3 %}
            <td><span class="badge badge-light">{{ n }}</span></td>
            {% else %}
            <td><span class="badge badge-success">{{ n }}</span></td>
            {% endif %}

            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
