$brand: #0071b7;
$call: #0071b7;
$text: #000;
$blank: #ffffff;
$banner: #e1e1e1;
$from: #037cc7;
$to: #003c61;

$base-font-family: Helvetica, sans-serif;
$base-font-size: 16px;
$base-line-height: 1;

$spacing-unit: 30px;
$radius: 5px;
$gutter: 10px;

$on-tablet: 800px;
$on-laptop: 1100px;


