---
title: Tools
permalink: "/tools/"
layout: default
---

<section class="section">

    {% assign section = site.data.tools %}

    <div class="row row-twocolumn">

        <article class="contentbox">
            <h2 class="title title-one">{{ section.title }}</h2>

            <article class="contentbox">

                <h3 class="title title-two contentbox-title">{{ section.article.title }}</h3>

                <p class="contentbox-content">{{ section.article.content | markdownify }}</p>

            </article>
        </article>

        <aside class="contentbox sidebar">
            <h3 class="title title-highlighted">Legend</h3>
            <ul class="legend">
                <li><span class="button button-planned button-flat button-legend">Planned</span><i
                        class="fa fa-long-arrow-right" aria-hidden="true"></i> Not available yet, click for tool link
                </li>
                <li><span class="button button-available button-flat button-legend">Available</span><i
                        class="fa fa-long-arrow-right" aria-hidden="true"></i> No CrossCheck results submitted, click for tool link
                </li>
                <li><span class="button button-dropdown button-flat button-legend">Available (3)</span><i
                        class="fa fa-long-arrow-right" aria-hidden="true"></i> passed CrossCheck, 3 results available, click for results
                </li>
            </ul>
            <p>More information about the generation of the CrossCheck results can be found in the
                <a href="https://svn.fmi-standard.org/fmi/branches/public/CrossCheck_Results/FMI_Cross_Check_Rules_v3.1_2015_07.pdf">Rules
                    document</a> and the
                <a href="https://svn.fmi-standard.org/fmi/branches/public/CrossCheck_Results/FMI_Cross_Check_Implementation_Notes_v3.1_2015_07.pdf">Implementation
                    notes</a>.</p>
        </aside>

    </div>

</section>

<section class="section section-overflow">

    {% assign table = site.data.tools_table.body %}

    <table class="tools-table">
        <thead>
        <tr>
            <th><a href="#footer" class="button button-flat button-light">Total numbers</a></th>
            <th>
                <select id="searchInput" class="button button-flat button-dark button-dropdown">
                    <option value="" disabled="" selected="">Filter</option>
                    <option value="FMI_1.0">FMI_1.0</option>
                    <option value="FMI_2.0">FMI_2.0</option>
                    <option value="">All versions</option>
                </select>
            </th>
            <th colspan="2">ModelExchange</th>
            <th colspan="2">CoSimulation</th>
            <th colspan="2">&nbsp;</th>
        </tr>
        <tr>
            <th>Tools supporting FMI</th>
            <th>FMI Version</th>
            <th>Export</th>
            <th>Import</th>
            <th>Slave</th>
            <th>Master</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody id="fbody">
        {% for tool in table %}
        {% assign i = forloop.index %}
        {% for version in tool.versions %}
        <tr>
            <td rowspan="{{ forloop.length }}" data-rowspan="{{ forloop.length }}"
                class="rowspan {% unless !forloop.first %}tools-table-hidden{% endunless %}">
                <a href="{{ tool.link}}" target="_blank">{{ tool.name }}</a>
            </td>
            <td class="fcell">
                {{ version.name }}
            </td>
            <td>
                {% include content/table-button.html data=version.export %}
            </td>
            <td>
                {% include content/table-button.html data=version.import %}
            </td>
            <td>
                {% include content/table-button.html data=version.slave %}
            </td>
            <td>
                {% include content/table-button.html data=version.master %}
            </td>
            <td class="rowspan {% unless !forloop.first %}tools-table-hidden{% endunless %}"" rowspan="{{ forloop.length }}" data-rowspan="{{ forloop.length }}">
                {{ version.notes}}
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
        {% assign table = site.data.tools_table.footer %}
        {% for row in table.versions %}
        <tr class="tools-table-footer" id="footer">
            {% if forloop.first %}
            <td rowspan="{{ forloop.length }}">{{ table.text }}</td>
            {% endif %}
            <td>{{ row.name }}</td>
            <td><span class="button button-light button-flat">{{ row.export }}</span></td>
            <td><span class="button button-light button-flat">{{ row.import }}</span></td>
            <td><span class="button button-light button-flat">{{ row.slave }}</span></td>
            <td><span class="button button-light button-flat">{{ row.master }}</span></td>
            {% if forloop.first %}
            <td rowspan="{{ forloop.length }}">{{ table.note }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
    Generated: {{site.data.tools_table.generated.date}} 
    Total number of tools listed: {{site.data.tools_table.generated.numberOfTools}}
    </p>

    <p>{{ section.footer }}</p>

</section>
