---
layout: default
title: Tools
permalink: /tools/
---

<section class="section">

    {% assign table = site.data.tools.fmi-support-in-tools.table %}

    <p>{{ table[2].versions[0] }}</p>

    <table class="tools-table">
        <thead>
            <tr>
                <td>
                    <span class="button button-light">Total numbers</span>
                </td>
                <td>
                    <select class="button button-dark button-dropdown" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        <option value="" disabled="" selected="">Filter</option>
                        <option value="">FMI_1.0</option>
                        <option value="">FMI_2.0</option>
                        <option value="">All versions</option>
                    </select>
                </td>
                <td colspan="2">ModelExchange</td>
                <td colspan="2">CoSimulation</td>
            </tr>
            <tr>
                <td>Tools supporting FMI</td>
                <td>FMI Version</td>
                <td>Export</td>
                <td>Import</td>
                <td>Slave</td>
                <td>Master</td>
                <td>Notes</td>
            </tr>
        </thead>
        <tbody>
        {% for tool in table %}
        {% assign i = forloop.index %}
        {% for version in tool.versions %}
        <tr>
            {% if forloop.first %}
            <td rowspan="{{ forloop.length }}">
                {{ tool.name }}
            </td>
            {% endif %}
            <td>
                {{ version.name }}
            </td>
            <td>
                {% include content/table-button.html data=version.export %}
            </td>
            <td>
                {% include content/table-button.html data=version.import %}
            </td>
            <td>
                {% include content/table-button.html data=version.slave %}
            </td>
            <td>
                {% include content/table-button.html data=version.master %}
            </td>
            <td>
                {{ version.notes}}
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>

</section>
