html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.2em;
  margin-bottom: .5em;
}

.table-sm td, .table-sm th {
  white-space: nowrap;
}

/* .table-tools th,
.table-tools .content {
  text-align: center;
} */

.fa-blank {
 visibility:hidden !important;
}

:root {
  --jumbotron-padding-y: 2rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

/* footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
} */

.footer_ {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* cross-check */

.xc-matrix th.rotate {
  /* Something you can count on */
  height: 200px;
  white-space: nowrap;
}

.xc-matrix th.rotate > div {
  transform:
    /* Magic Numbers */
    translate(25px, -4px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}

.xc-matrix th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.xc-matrix .badge {
    width: 3em;
}
