html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 4.5rem;
  margin-bottom: 100px; /* Margin bottom by footer height */
}

main {
  margin-bottom: 8em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.2em;
  margin-bottom: .5em;
}

.table-sm td, .table-sm th {
  white-space: nowrap;
}

.news .badge {
  width: 80px;
  font-weight: 400;
  margin-right: 10px;
}

.news .more-link {
  display: block;
  margin-left: 90px;
}

.fa-blank {
 visibility:hidden !important;
}

:root {
  --jumbotron-padding-y: 2rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* cross-check */

.xc-matrix th.rotate {
  /* Something you can count on */
  height: 200px;
  white-space: nowrap;
}

.xc-matrix th.rotate > div {
  transform:
    /* Magic Numbers */
    translate(25px, -4px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}

.xc-matrix th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.xc-matrix .badge {
    width: 3em;
}

.xc-matrix td.first {
    max-width: 177px;
    overflow: hidden;
    text-overflow: ellipsis;
}
