---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "bootstrap";

.content {
  width: 45rem;
  margin: 0 auto;
}

// Local docs variables
$fmi-blue:        #00366F !default;
$fmi-blue-bright: lighten(saturate($fmi-blue, 5%), 15%) !default;
$fmi-blue-light:  lighten(saturate($fmi-blue, 5%), 45%) !default;
$fmi-dark:          #2a2730 !default;
$fmi-download:      #ffe484 !default;
$fmi-info:          #5bc0de !default;
$fmi-warning:       #f0ad4e !default;
$fmi-danger:        #d9534f !default;

.fmi-navbar {
  min-height: 4rem;
  background-color: $fmi-blue;
}
