<div class="mb-4 border-bottom">
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/assets/images/FMI_bare.svg" height="35px" class="me-2" alt="FMI logo"/>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}" class="nav-link px-2 {{ if $currentPage.IsMenuCurrent "main" . }}link-secondary{{ else }}link-dark{{ end }}">{{ $text := print .Name | safeHTML }}{{ $text }}</a>
        </li>
        {{ end }}
      </ul>
      
      <div class="col-md-3 text-end fs-5">
        <a href="https://twitter.com/fmistandard" aria-label="Twitter"><i class="fa-brands fa-twitter link-secondary me-2"></i></a>
        <a href="https://github.com/modelica/fmi-standard" aria-label="GitHub"><i class="fab fa-github fa-lg link-secondary"></i></a>
      </div>
    </header>
  </div>
</div>
