---
title: Home
permalink: /
layout: default
---

<style>
.lead {
  padding-left: 15px;
}

.lead:before {
  font-family: Georgia, serif;
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -25px;
  color: #7a7a7a;
}
</style>

<img src="{{ "/assets/images/fmi-illustration-1920.png " | relative_url }}" class="img-fluid" alt="Functional Mock-Up Interface illustration">

<div class="row">
  <div class="col-lg-6">
    <h2>Functional Mock-Up Interface</h2>
    <p>
      The Functional Mock-Up Interface (FMI) is a free standard that defines a container and an interface to exchange dynamic models using a combination of XML files, binaries and C code zipped into a single file.
      It is supported by <a href="http://fmi-standard.org/tools" target="_blank">150+</a> tools and maintained as a <a href="https://modelica.org/projects">Modelica Association Project</a> on <a href="https://github.com/modelica/fmi-standard">GitHub</a>.
      The code is released under the <a href="https://opensource.org/licenses/BSD-2-Clause">2-Clause BSD</a>, the docs under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a> License.
    </p>

    <p class="text-muted">Latest release<br/>
      <a class="btn btn-primary my-1 mr-2" href="https://github.com/modelica/fmi-standard/releases/download/v2.0.2/FMI-Standard-2.0.2.zip"><i class="fa fa-download mr-2"></i>Complete Package 2.0.2</a>
      <a class="btn btn-primary my-1" href="https://github.com/modelica/fmi-standard/releases/download/v2.0.2/FMI-Specification-2.0.2.pdf"><i class="fa fa-file mr-2"></i> Specification Only 2.0.2</a>
      <br/>
      <a href="{{ "/downloads/" | relative_url }}">Previous releases</a>
    </p>

    <p class="text-muted">Latest development build<br/>
      <a class="btn btn-outline-primary my-1" href="https://fmi-standard.org/docs/3.0-dev/"><i class="fas fa-globe-americas mr-2"></i>FMI Specification 3.0 <span class="badge badge-primary">Alpha</span></a>
      <br/>
      <a href="https://fmi-standard.org/faq/#what-will-be-the-new-features-of-fmi-30">New features in FMI 3.0</a>
    </p>

  </div>
  <div id="app" class="col-lg-6 news">

    <h2 class="title title-highlighted">News</h2>

    {% assign counter = 0 %}
    {% for post in site.posts limit: 100 %}
      {% if post.categories contains "news" %}
    <div class="d-flex">
      <div class="flex-shrink">
        <span class="badge badge-light">{{ post.date | date: " %Y-%m-%d" }}</span>
      </div>
      <div>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
    </div>
      {% assign counter=counter | plus:1 %}
      {% endif %}
      {% if counter >= 5 %}
        {% break %}
      {% endif %}
    {% endfor %}
    <a href="{{ "/news/" | relative_url }}" class="more-link">more...</a>
    <div class="mt-3">
      <a class="btn btn-outline-primary btn-sm" href="https://creativeconnections.us12.list-manage.com/subscribe?u=0be901f875b69817eddd7e71b&id=0cb2cf5b72&group[20249][2]=true"><i class="fas fa-envelope mr-2"></i>Subscribe to Newsletter</a>
    </div>

    <h2 class="title title-highlighted">Events</h2>

    {% raw %}
    <div v-for="item in items" class="d-flex">
      <div class="flex-shrink">
        <span class="badge badge-light" v-if="item.start.dateTime">{{ item.start.dateTime.substring(0,10) }}</span>
        <span class="badge badge-light" v-if="item.start.date">{{ item.start.date }}</span>
      </div>
      <div>
        <a v-bind:href="item.htmlLink">{{ item.summary }}</a> <a href="#" data-toggle="tooltip" data-original-title="Teleconference"><i v-if="!item.location" class="fas fa-phone ml-1"></i></a>
        <a v-if="item.location" v-bind:href="'https://maps.google.com/?q=' + encodeURIComponent(item.location)"><i data-toggle="tooltip" title="" v-bind:data-original-title="item.location" class="fas fa-map-marker-alt ml-1"></i></a>
      </div>
    </div>
    <div class="mt-3">
      <a class="btn btn-outline-primary btn-sm mr-2" href="https://calendar.google.com/calendar/ical/obe72dhd3apjmipcpmr2asehjs%40group.calendar.google.com/public/basic.ics"><i class="far fa-calendar-alt mr-2"></i>iCal Calendar</a>
      <a class="btn btn-outline-primary btn-sm mr-2" href="https://calendar.google.com/calendar/embed?src=obe72dhd3apjmipcpmr2asehjs%40group.calendar.google.com&ctz=Europe%2FBerlin"><i class="fab fa-google mr-2"></i>Google Calendar</a>
    </div>
    {% endraw %}

  </div>
</div>

<p class="text-muted mt-4">What users say about FMI:</p>

<div class="row featurette justify-content-md-center p-4">
  <div class="col-md-6 mt-4">
    <p class="lead">FMI is the preferred model exchange and co-simulation format of Robert Bosch GmbH at system level enabling the exchange of models with internal and external partners using different modelling tools.</p>
    <footer class="blockquote-footer">Robert Bosch GmbH on <a href="https://itea3.org/project/impact-stream/modelisar-impact-story.html">ITEA3 MODELISAR</a></footer>
  </div>
  <div class="col-md-6 text-center">
    <div style="background-image: url(/assets/images/bosch-logo.png); background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: contain; height: 100%; min-height: 10em; max-width: 17em; margin: auto;"></div>
  </div>
</div>

<div class="row featurette justify-content-md-center p-4">
  <div class="col-md-6 text-center order-2 order-md-1">
    <div style="background-image: url(/assets/images/haldex-logo.jpg); background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: contain; height: 100%; min-height: 10em; max-width: 12em; margin: auto;"></div>
  </div>
  <div class="col-md-6 mt-4 order-1 order-md-2">
    <p class="lead">Driving our future is all about scalable solutions. The use of the FMI standard scales our capabilities to virtual integrate our scalable braking systems with customers’ and partners’ systems of systems.</p>
    <footer class="blockquote-footer">Edo Drenth, VP Global Vehicle Dynamics, <a href="https://www.haldex.com">Haldex</a></footer>
  </div>
</div>

<div class="row featurette justify-content-md-center p-4">
  <div class="col-md-6 mt-4">
    <p class="lead">Supported by Siemens from the beginning, FMI is becoming an important building block in the efficient creation of interdisciplinary, multi-level digital twins of our entire portfolio - from rail and gas turbine engineering to virtual commissioning in the process industry and operational support in manufacturing plants.</p>
    <footer class="blockquote-footer">Virginie Maillard, Lead Technology Field Simulation & Digital Twin, <a href="https://siemens.com">Siemens</a></footer>
  </div>
  <div class="col-md-6 text-center">
    <div style="background-image: url(/assets/images/siemens-logo.png); background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: contain; height: 100%; min-height: 10em; max-width: 14em; margin: auto;"></div>
  </div>
</div>

<div class="row featurette justify-content-md-center p-4">
  <div class="col-md-6 text-center order-2 order-md-1">
    <div style="background-image: url(/assets/images/saab-logo.png); background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: contain; height: 100%; min-height: 10em; max-width: 14em; margin: auto;"></div>
  </div>
  <div class="col-md-6 mt-4 order-1 order-md-2">
    <p class="lead">With the ever increasing use of models in aircraft system development, tool interoperability and model reuse are central challenges. At Saab we see the FMI standard as an enabler for scalable and tool neutral integration of simulation models from different technical disciplines, developed by different internal teams or by external partners.</p>
    <footer class="blockquote-footer">Göran Ancker, Technical Fellow Aircraft System Simulation, <a href="https://saabgroup.com/">Saab AB</a></footer>
  </div>
</div>

<!-- Vue.js -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data () {
      return {
        items: null
      }
    },
    mounted () {
      var minDate = new Date();
      minDate.setDate(minDate.getDate() - 7);  // today minus one week
      axios
        .get('https://www.googleapis.com/calendar/v3/calendars/obe72dhd3apjmipcpmr2asehjs@group.calendar.google.com/events?key=AIzaSyDo78g40_od26-CDjAs6qM21f34deK-GyU&timeMin=' + minDate.toISOString() + '&singleEvents=true&orderBy=startTime')
        .then(response => (this.items = response.data.items.reverse()))
        .finally(() => (
            /* enable popovers and tooltips */
            $(document).ready(function() {
              $('[data-toggle="popover"]').popover();
              $('[data-toggle="tooltip"]').tooltip();
            })
          )
        )
    }
  })
</script>
