{% if include.data.input %}
{% if include.data.input == 'button'  %}
<a class="button button-flat button-{{ include.data.type }}" href="{{ include.data.link }}" target="_blank">{{ include.data.type }}</a>
{% else if include.data.input == 'dropdown'  %}
<select class="button button-flat button-{{ include.data.type }} button-dropdown" title="Available{% if include.data.num %}({{ include.data.num }}){% endif %}" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
    <option value="" disabled="" selected="">{{ include.data.type }} ({{ include.data.num }})<span></span></option>
    {% for option in include.data.link %}
    <option value="{{ option.link }}">{{ option.dist }}{% if option.num %} ({{ option.num }}){% endif %}</option>
    {% endfor %}
</select>
{% endif %}
{% endif %}
