.button {
  display: block;
  color: $blank !important;
  background: linear-gradient(#037cc7, #003c61);
  margin: 0.2rem 0;
  padding: 0.5em 1.5em;
  border-radius: $radius;
  border: none;
  float: left;
  clear: left;

  option {
    color: black;
  }

  &-width {
    min-width: 13em;
  }

  &-large {
    padding: 1em 1.5em;
  }

  &-available {
    background: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
  }

  &-planned {
    color: $text !important;
    background: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    border: 1px solid #c2c2c2;
  }

  &-dropdown {
    background: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  }

  &-flat {
    padding-bottom: 0.15em;
    padding-top: 0.15em;
    width: 7rem;
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
  }

  &-legend {
    float: none;
    display: inline-block;
    margin-right: 0.5rem;
  }

  &-light {
    background: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
  }

  &-dark {
    background: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
  }

  &:hover {
    color: $blank;
  }
}
