.button {
  display: block;
  color: $blank !important;
  background: $call;
  margin: 0.2rem 0;
  padding: 0.5em 1.5em;
  border-radius: $radius;
  float: left;
  clear: left;

  &-width {
    min-width: 12em;
  }

  &:hover {
    color: $blank;
  }
}