.contentbox {
  padding: 1rem 0 3rem;
  break-inside: avoid-column;
  @extend %clearfix;

  &-half {
    padding: 1rem $gutter 3rem;
    width: 50%;
    float: left;
  }

  &-version {
    margin: 1rem 0 2rem;

  }

  &-description {
    clear: both;
    padding: 1.2em 0 0.2em;
    margin: 0;
  }
}