.contentbox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @extend %clearfix;

  &-content-half {
    width: 50%;
    padding: 0 $gutter;
  }

  &-version {
    margin: 1rem 0 2rem;

  }

  &-description {
    clear: both;
    padding: 1.2em 0 0.2em;
    margin: 0;
  }

  &-legend {
    background: $banner;
    border-radius: $radius;
  }
}