.hamburger {
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 20;
  display: block;
  width: 35px;
  cursor: pointer;
  transition: right 300ms;

  &-spin {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 7px;
    background: $brand;
    transition: width 300ms, transform 500ms, top 500ms, bottom 500ms;
  }

  &-check {
    display: none !important;
  }

  &-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    opacity: 0;
    transition: opacity 300ms;
  }

  &-check:checked {
    & ~ .site-nav {
      left: 20vw;
    }

    & ~ .hamburger {
      right: 85vw;

      &-background {
        z-index: 10;
        background: rgba(81, 81, 81, 0.8);
        opacity: 1;
      }

      .hamburger-spin {
        &-one {
          top: 10px;
          transform: rotate(45deg);
        }

        &-two {
          width: 0;
        }

        &-three {
          bottom: 10px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  @media (min-width: $on-tablet) {
    display: none;

    &-background {
      display: none;
    }
  }
}
