.section {
  margin: 1rem 0;
  @extend %clearfix;

  &-half {
    width: 100%;
    padding: 0 $gutter;

    @media (min-width: $on-tablet) {
      width: 50%;
      float: left;
    }
  }

  &-title {
    font-style: italic;
  }

  &-overflow {
    overflow: auto;
  }

  &-third {
    width: 100%;
    padding: 0 30px 0 $gutter;

    @media (min-width: $on-tablet) {
      width: 100%/3*2;
      float: left;
    }
  }
}