.select {
  appearance: none;
  border: none;
  padding: 0;
  margin: 1rem 0;

  &-input {
    appearance: none;
    float: none !important;
    display: inline-block;
  }

  &-label {
    font-size: 1.5rem;
  }
}