.title {
  color: $brand;
  text-align: left;

  &-one {
    display: flex;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 1em 0 0;

    &:after {
      content: '';
      flex: 1;
      margin-bottom: 5px;
      background-image: linear-gradient(to right, $brand 20%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 10px 2px;
      background-repeat: repeat-x;
    }
  }

  &-two {
    font-size: 1.2rem;
  }

  &-three {
    margin: 0.5em 0 0.2em;
  }

  &-highlighted {
    background: linear-gradient($brand,lighten($brand,5%));
    color: $blank;
    padding: 0.3rem 1rem;
  }

  &-front {
    &:after {
      background-image: linear-gradient(to right, $call 20%, rgba(255,255,255,0) 0%);
      background-size: 7px 2px;
    }
  }
}