.title {
  color: $brand;
  text-align: left;

  &-one {
    font-size: 2rem;
    font-weight: bold;
  }

  &-two {
    font-size: 1.6rem;
  }

  &-highlighted {
    background: $brand;
    color: $blank;
    margin: 1.5rem 0 1rem;
    padding: 0.3rem 1rem;
  }
}