---
layout: default
title: Downloads
permalink: /downloads/
---

<section class="section">

    {% assign section = site.data.downloads.version20 %}

    <h2 class="title title-one section-title">{{ section.section.title }}</h2>

    {% include content/contentbox.html data=section.model-exchange-and-co-simulation %}

</section>

<section class="section">

    {% assign section = site.data.downloads.version10 %}

    <h2 class="title title-one section-title">{{ section.section.title }}</h2>

    <div class="row">

        {% include content/contentbox.html data=section.model-exchange width='half' %}

        {% include content/contentbox.html data=section.co-simulation width='half' %}

    </div>
</section>
