---
layout: default
title: Downloads
permalink: /downloads/
---

<section class="section">

    {% assign section = site.data.downloads.version20 %}

    <h2 class="title title-one section-title">{{ section.section.title }}</h2>

    {% assign data = section.model-exchange-and-co-simulation %}
    {% include content/contentbox.html width='full' title=data.title content=data.content version=data.version %}

</section>

<section class="section">

    {% assign section = site.data.downloads.version10 %}

    <h2 class="title title-one section-title">{{ section.section.title }}</h2>

    <div class="row">

        {% assign data = section.model-exchange %}
        {% include content/contentbox.html width='half' title=data.title content=data.content version=data.version %}

        {% assign data = section.co-simulation %}
        {% include content/contentbox.html width='half' title=data.title content=data.content version=data.version %}

    </div>
</section>
