.sidebar {
  background: $banner;
  width: 100%;
  padding: 0 1rem;
  margin: 1rem 0;

  table {
    margin: 0 auto;

    td {
      padding: 0;
    }
  }
  @media (min-width: $on-tablet) {
    width: 100%/3*1;
    float: right;
  }
}