.sidebar {
  background: $banner;
  width: 100%;
  padding: 0px;
  margin: 1rem 0;
  padding-left: 0px;
  padding-right: 0px;

  table {
    margin: 0 auto;

    td {
      padding: 0;
    }
  }

  p {
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (min-width: $on-tablet) {
    width: 100%/3*1;
    float: right;
  }
}

.sidebar.contentbox {
  padding-left: 0px;
  padding-right: 0px;
}