.site-nav {
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 50;
  width: 80vw;
  height: 100vh;
  transition: left 300ms;
  display: block;
  background: $brand;
  padding: 20px 10px;

  &-link {
    display: block;
    color: $blank;
    font-size: 1.5rem;
    text-align: center;
    background: $brand;
    padding: 1em;
    border: none;
    border-top: solid 1px $blank;
    border-bottom: solid 1px $blank;

    &:first-of-type {
      border-top: none;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:visited {
      color: $blank;
    }
  }

  @media (min-width: $on-tablet) {
    position: relative;
    display: flex;
    left: 0;
    width: auto;
    height: auto;
    padding: 0;
    background: none;

    &-link {
      display: inline-block;
      flex: 1;
      font-size: $base-font-size;
      padding: 0.6rem 0.5rem;
      border: none;
      transition: background 300ms, color 300ms;
      border-left: solid 1px $blank;
      border-right: solid 1px #6a6a6a;

      &:hover, &.active {
        background: $blank;
        color: $brand;
      }

      &:last-of-type {
        border-right: none;
      }
    }
  }
}