.site-nav {
  display: block;
  display: flex;
  margin: 0 -1px;

  &-link {
    display: inline-block;
    flex: 1;
    color: $blank;
    text-align: center;
    background: $brand;
    padding: 0.3rem 1rem;
    margin: 0 1px;
    transition: background 300ms, color 300ms;

    &:visited {
      color: $blank;
    }

    &:hover, &.active {
      background: $blank;
      color: $brand;
    }

  }
}