.tools-table {
  background: $blank;
  border-collapse: collapse;
  width: 880px;

  tr:nth-of-type(odd) {
    background: #f9f9f9;
  }

  thead > tr {
    background: $blank !important;
  }

  th {
    border-bottom: #e4e4e4 solid 3px;
    padding: 0.5rem;
  }

  td {
    background: none;
    padding: 0.5rem;
    border-bottom: #b1b1b1 solid 1px;
  }
}