---
layout: default
title: History
permalink: /history/
---

<section class="section">

    {% assign section = site.data.history.history %}

    <h2 class="title title-one section-title">{{ section.section.title }}</h2>

    {% include content/contentbox.html data=section.modelisar %}

    {% include content/contentbox.html data=section.modelica-association-project %}

</section>

<section class="section">

    {% assign section = site.data.history.supplemental-material %}

    <h2 class="title title-one section-title">{{ section.section.title }}</h2>

    <div class="row row-twocolumn">

    {% include content/contentbox.html data=section.fmi-for-plm %}

    </div>

</section>

<section class="section">

    {% assign section = site.data.history.acknowledgement %}

    <h2 class="title title-one section-title">{{ section.section.title }}</h2>

    {% include content/contentbox.html data=section.acknowledgement%}

</section>
